@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: "Poppins", sans-serif;
}


@theme inline {
  --background-gradient-purple: linear-gradient(120deg,
      rgba(251, 194, 235, 1),
      rgba(166, 193, 238, 1));
  --background-gradient-blue: linear-gradient(120deg,
      rgba(197, 255, 242, 1),
      rgba(166, 193, 238, 1));
  --background-gradient-light-purple: linear-gradient(120deg,
      rgba(251, 194, 235, 1),
      rgba(166, 193, 238, 1),
      rgba(132, 94, 194, 1));
  --background-see-image: url("/assets/images/webp/see-view.webp");
  --background-hero-gsap-field: url("/assets/images/webp/gsap-field-bg.webp")
}

.bg-hero-gsap-field {
  background-image: var(--background-hero-gsap-field);
}

.bg-full {
  background-size: 100% 100%;
}




.bg-full {
  background-size: 100% 100% !important;
}

.bg-see-view {
  background: var(--background-see-image);
}

.bg-purple {
  background: var(--background-gradient-purple);
}

.bg-blue-gradient {
  background: var(--background-gradient-blue);
}

.bg-light-purple {
  background: var(--background-gradient-light-purple);
}